.project-links li {
    text-align: left;
    margin: 1.2rem;
}

.project-links li a {
    padding-left: 0.8rem;
}

.project-links li a:hover {
    cursor: pointer;
}

.home p {
    display: inline;
}

.home .powered-by {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    align-items: center;
    justify-content: center;
}

.home .vite {
    font-size: 0.3rem;
    display: inline;
}
